.parent
{
    display: flex;

}
.nav_link
{
    text-align: center;
    display: block;
    width: 300px;
}
.cont
{
    width: 300px;
    height: 350px;
}
.row_2
{
    margin-left: 20px;
}
.sec_cont
{
    margin-top: 20px;
}